.results {
    background-color: #ddffee /* #282c34 */;
    /* width: 80%; */
    padding: 1rem 3rem;
}

@media screen and (orientation:portrait) {
    .flex {
        display: block;
    }
}

@media screen and (orientation:landscape) {
    .flex {
        display: inline;
    }
}